<h3> All solutions </h3>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Text Box</th>
    <th colspan="2">Options</th>
  </tr>

  <tbody>
    <% if @solutions.empty? %>
      <strong> No solutions yet</strong>
    <% else %>
      <% @solutions.each do |solution| %>
        <tr>
          <td><%= solution.id %></td>
          <td><%= solution.text_block %></td>
          <td><%= link_to('Edit', edit_lecture_task_solution_path(@lecture, @task, solution)) %></td>
          <td><%= link_to('Destroy', lecture_task_solution_path(@lecture, @task, solution), method: :delete) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</br><%= link_to('New solution', new_lecture_task_solution_path) %>