<h6> Register </h6>

<%= form_for(@user, url: users_path) do |f| %>
	<%= f.label :username %></br>
	<%= f.text_field :username %></br>
	<%= f.label :password %></br>
	<%= f.password_field :password %></br>
	<%= f.label :password_confirmation %></br>
	<%= f.password_field :password_confirmation %></br>
	<%= f.label :e_mail %></br>
	<%= f.text_field :e_mail %></br>

	<%= f.submit %>
<% end %>